name: Deploy-dev

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: dev

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-2

      - name: Login to ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build and push image
        working-directory: app
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          ECR_REPOSITORY: dev-app
          IMAGE_TAG: ${{ github.sha }}
        run: |
          SHORT_TAG=${IMAGE_TAG:0:7}
          docker build -t $ECR_REPOSITORY:$SHORT_TAG .
          docker tag $ECR_REPOSITORY:$SHORT_TAG $ECR_REGISTRY/$ECR_REPOSITORY:$SHORT_TAG
          docker push $ECR_REGISTRY/$ECR_REPOSITORY:$SHORT_TAG
          echo "SHORT_TAG=$SHORT_TAG" >> $GITHUB_ENV

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        working-directory: infra/envs/dev
        run: |
          terraform init \
            -backend-config="bucket=backup-bucket-for-terraform" \
            -backend-config="key=demo_ecs/dev/terraform.tfstate" \
            -backend-config="region=us-east-2" \
            -backend-config="use_lockfile=true"

      - name: Terraform Apply (deploy new image)
        working-directory: infra/envs/dev
        run: terraform apply -auto-approve -var-file=dev.tfvars -var="image_tag=${{ env.SHORT_TAG }}"
