name: Plan-Pipeline-dev

on:

  workflow_dispatch:

permissions:
  contents: read

jobs:
  terraform:
    runs-on: ubuntu-latest
    environment: dev

    defaults:
      run:
        working-directory: infra/envs/dev

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-2

      - name: Terraform Init 
        run: |
          terraform init \
            -backend-config="bucket=backup-bucket-for-terraform" \
            -backend-config="key=demo_ecs/dev/terraform.tfstate" \
            -backend-config="region=us-east-2" \
            -backend-config="use_lockfile=true"

      - name: Terraform Destroy
        run: terraform destroy -auto-approve -var-file=env/production.tfvars
